/* Research Styling */
.research {
    display: flex;
    height: 100vh;
    min-height: 500px;
    color: #f8b800;
    background-image: url("./images/research.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.research .research-content {
    width: 50%;
}

.main-title {
    font-size: 60px;
}

/* Book Styling Section */
.book {
    background: #393E46;
    align-items: center;
}

.book .sub-title::after {
  content: "Books We Read";
  position: absolute;
  left: 50%;
  bottom: -12px;
  padding: 5px;
  font-size: 20px;
  color: #F8F0E3;
  background: #393E46;
  transform: translateX(-50%);
}

.book .sub-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 180px;
  height: 4px;
  background: #F8F0E3;
  transform: translateX(-50%);
}

.book .content .col {
  float: left;
  width: 50%;
  padding: 0 25px;
}

.book .content::after {
    content: "";
    display: table;
    clear: both;
}

.book .inner-sub-title {
    padding-top: 15px;
    color: #f8b800;
    margin-bottom: 20px;
}

.book .sub-text {
    color: #F8F0E3;
}

.book img {
  max-width: 600px;
  max-height: 600px;
}

@media screen and (max-width: 1367px) {
    .research {
        background-position: center;
    }

    .book .content .col {width: 100%;}
}